body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.contacts-container {
  margin: 0 5px 0 5px;

}

.contacts-container h2 {
  margin: 0;
  font-weight: bold;
}


.contacts-container img {
  width: 80px;
  height: auto;
}

.contacts-container p {
  font-size: 23px;
}

.contacts-container td {
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.contacts-container span {
  font-size: 25px;
}

.button-layout {
  border: 1px solid gray ;
  border-radius: 2px;
  padding: 6px;
  color: black;
  font-size: 15px;
}